<!DOCTYPE html>
<html>
<style>
span{
  color: white;
}
body {
   background-image: url({{ asset('images/background.png') }});
   background-repeat: no-repeat;
   background-size: 105%;
}
#header {
   background: rgba(0, 0, 0, 0.5);
}
#menu {
  background: rgba(0, 0, 0, 0.5);
}
#fond {
  background: rgba(0, 0, 0, 0.5);
}
h1 {
    color: white;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    color: white;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    color: white;
    font-family: "Times New Roman", Times, serif;
}
h4 {
    color: white;
    font-family: "Times New Roman", Times, serif;
}
p {
    color: white;
    font-style: italic;
}
i {
    color: white;
    font-style: italic;
}
a {
    color: white;
    font-style: italic;
}
.well {
  color: black;
}
#infosannonces{
  background: rgba(255, 255, 255, 0.5);
}
#title {
  color: white;
}
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}DEVWEB Colocation{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>
<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1 align="center"><span>LaBonneColoc'</span></h1>
      <p align="center">
        {% trans %}Parce que c'est toujours l'heure de trouver une bonne COLOC' !{% endtrans %}
      </p>
    </div>
    {% block bodyconnect %}
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p align="right">{% trans %}Connecté en tant que{% endtrans %} {{ app.user.username }}
      {% endif %}
    {% endblock %}
    <div class="row">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div id="menu" class="well sidebar-nav">
                      <h5><i class="glyphicon glyphicon-home"></i>
                          <small><b>{% trans %}Annonces{% endtrans %}</b></small>
                      </h5>
                      <ul class="nav nav-pills nav-stacked">
                          <li><a  id="title" href="{{ path('devweb_colocation_home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                          {% block bodyconnect2 %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                              <li><a  id="title" href="{{ path('devweb_colocation_add') }}">{% trans %}Ajouter une annonce{% endtrans %}</a></li>
                            {% endif %}
                          {% endblock %}
                          <li><a id="title" href="{{ path('devweb_colocation_search') }}">{% trans %}Rechercher une annonce{% endtrans %}</a></li>
                      </ul>
                      <h5><i class="glyphicon glyphicon-user"></i>
                          <small><b>Utilisateur</b></small>
                      </h5>
                      <ul class="nav nav-pills nav-stacked">
                        {% block bodyconnect3 %}
                          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a id="title" href="{{ path('fos_user_security_logout') }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                          {% else %}
                            <li><a id="title" href="{{ path('fos_user_security_login') }}">{% trans %}Connexion{% endtrans %}</a></li></p>
                            <li><a id="title" href="{{ path('fos_user_registration_register') }}">{% trans %}S'enregistrer{% endtrans %}</a></li></p>
                          {% endif %}
                        {% endblock %}
                      </ul>
                      <h5><i class="glyphicon glyphicon-user"></i>
                          <small><b>{% trans %}Dernières annonces{% endtrans %}</b></small>
                      </h5>
                      <ul class="nav nav-pills nav-stacked">
                        {{ render(controller("DEVWEBColocationBundle:Advert:menu", {'limit': 3})) }}
                      </ul>
                      <h5><i class="glyphicon glyphicon-cog"></i>
                          <small><b>{% trans %}Paramètres{% endtrans %}</b></small>
                      </h5>
                      <ul class="nav nav-pills nav-stacked">
                        <li><a id="title" href="{{ path('devweb_colocation_param') }}">{% trans %}Langue et Thème{% endtrans %}</a></li></p>
                        <li><a id="title" href="{{ path('devweb_colocation_feed') }}">{% trans %}RSS{% endtrans %}</a></li></p>
                      </ul>
                  </div>
              </div>
              <div id="content" class="col-md-8">
                {% block body %}
                {% endblock %}
              </div>
          </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>{% trans %}Site internet créé par Adrien ESCOUGNOU et Tristan ALLAIRE{% endtrans %}</p>
    x</footer>
  </div>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
